<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenGL ES 常见滤镜.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B642510D22C7656800BB5965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B642512122C7657C00BB5965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B642512C22C7657C00BB5965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
